/*html, body {
  height: 100%;
}*/

body {
    background: rgb(32, 41, 59);
    font-family: Helvetica;
	margin: 0;
	font-weight: bold;
	/*display: flex;
    flex-direction: column;*/ 
}


.header{
	background-color: rgb(8, 16, 33);
	padding:0;
	margin:0;
	width: 100%;
	overflow:hidden;
	line-height: .4;
	color: #f2f2f2;
	position: static;
	top: 0;
	left: 0;
}

.body{
	
    padding-top: 30px;
	padding-bottom: 30px;
	/*flex: 1 0 auto;*/
}

#title a{
	font-size: 40px;
	padding-left: 5%;
	color: #f2f2f2;
	text-decoration: none;
}

#quote{
	margin-left: 80px;
	font-style: italic;
	padding-left: 8%;
	font-size: 20px;
	font-weight: normal;
}

/*nav menu box*/
.nav-menu{
	overflow:hidden;
	background-color:rgb(8, 16, 33);
	padding-top: 0;
	border-bottom: 5px solid rgba(38, 41, 48, 0.6);
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	
}

/* Style the topnav links */
.nav-menu a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-decoration: none;
}

#surf-forcast{
	color: #f2f2f2;
	padding-left: 20%;
}

#current-conditions{
	color: #f2f2f2;
	padding-left: 5%;
}

#about{
	color: #f2f2f2;
	padding-left: 5%;
}

/* SWELL TABLE */

.data_table caption{
	text-align:left;
	font-size: 14px;
}

th, td{	
    border-left: 4px solid rgb(32, 41, 59);
	border-right: 4px solid rgb(32, 41, 59);
	border-bottom: 4px solid rgb(32, 41, 59);
	width:25%;
	padding-top: 4px;
	padding-bottom: 4px;
}


table{
	background-color: rgba(8, 16, 33, 0.8);
	border: 2px solid rgb(32, 41, 59);
	width: 50%;
	border-spacing: 5px;
	padding: 2rem;
	color: rgb(216, 215, 222);
	text-align: center;
	font-size: 12px;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

table #table_m{
	font-size: 14px;
}

tr:nth-child(odd) {
	background: rgba(38, 41, 48, 0.6);
}

th{
	background-color: rgba(8, 16, 33, 0.9);
	font-size: 16px;
	border-bottom:4px solid rgb(32, 41, 59);
}

.data_table{
	 text-align: center;
}

/*SWELL FORCAST TABLE */
.swell_map {
 width: 200px; /* width of container */
	
}

/* ABOUT PAGE */

#about p{
	text-align: center;
	color: #f2f2f2;
	padding-top: 5%;
}

/* STYLE FOOTER */
.footer {
  background-color: rgb(8, 16, 33);
  padding: 0;
  text-align: center;
  width: 100%;
  overflow:hidden;
  border-top: 2px solid rgba(38, 41, 48, 0.6);
  color: #f2f2f2;
  position: fixed;
  left: 0;
  bottom: 0;
  /*flex-shrink: 0;*/
}

.footer a{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 10px;
}
